{% extends '_base.html' %}
{% load static %}
{% block style %}

{% endblock style %}

{% block content %}
<section class="app">
    <div class="cover-filter"></div>
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h1>Школа рисования «Замалевич»</h1>
                <a class="btn" href="#form" type="button">Хочу рисовать!</a>
            </div>
        </div>
    </div>
</section>
<section class="block-wrapper">
    <div class="my-container">
        <div class="pt">
            <p><br></p>
            <p>
                Хотите научится писать пейзажные акварели и передать на бумаге всю красоту окружающего мира?
            </p>
            <p><br></p>
            <p>
                Кисти, краски, бумага, вода. Простой набор, но какое волшебство можно сотворить с его помощью. Главное —
                знать как и уметь.
            </p>
            <p><br></p>
            <p>
                Поговорим, как проявлять красоту минимумом средств: красивые пятна заливки акварелью и графическая
                выразительность форм.
            </p>
            <p><br></p>
            <p>
                Мы научимся правильной работе с бумагой, чтобы выполнять ровные заливки.
            </p>
            <p>
                Потренируем руку в выполнении изящных веток деревьев. Создадим сложные пейзажи с деревьями в инее или
                покрытыми снегом. А также прочувствуем эмоции воды.
            </p>
            <a class="btn mbt" href="#form" type="button">Записаться на курс!</a>
        </div>
    </div>
    </div>
</section>
<section class="my-container-card">
    <h1 class="prew-card">Программа курса</h1>
    <div class="df-card">
        {% for i in Lessons %}
        <div class="card">
            <img src="{{ i.img.url }}">
            <div class="card-row">
                <div class="text">Урок {{ i.number_lesson }}</div>
                <div class="desc">{{ i.desc }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="btn mbt-auto" href="#form" type="button">Хочу на курс!</a>
</section>
<section class="block-wrapper">
    <div class="my-container block-info">
        <div class="pt">
            <p><br></p>
            <h1>«Школа рисования Замалевич»</h1>
            <p>
                Здесь вы сможете узнавать актуальную информацию о курсах и занятиях, проходящих в школе рисования
                «Замалевич».
            </p>
            <p><br></p>
            <p>
                А также найти полезную и интересную информацию по темам: творчество, педагогика, воспитание, обучение,
                психология и др.
            </p>
        </div>
        <div class="builder flex-column col-md-5 col-md-offset-0" data-path="column2">
            <div class="image-box">
                <img class="lazyloaded" src="{% static 'img/prom.jpg' %}"
                     style="border-radius: 9px!important; margin-bottom: 25px;">
                <div data-editable="true" class="lt-image-caption"></div>
            </div>
        </div>
    </div>
    </div>
</section>
<section>
    <section class="app">
        <div class="cover-filter"></div>
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <div class="row">
                        <div class="index">
                            <div class="text">Школа рисования<br>«Замалевич»</div>
                            <div class="block-set">Для детей от 3 до 17 лет</div>
                            <div class="block-set">Маленькие группы</div>
                            <div>Остались вопросы?</div>
                            <div>Напишите нам: help@mankov.online</div>
                        </div>
                        <form id="form" action="" class="form">
                            <h1>Запись</h1>
                            <input class="input" name="email" type="text" placeholder="Введите ваш эл. адрес" required>
                            <input class="input" name="name" type="text" placeholder="Введите ваше имя" required>
                            <input class="input" name="number" type="text" placeholder="Введите ваш телефон" required>
                            <button class="btn" type="submit">Отправить</button>
                            <div>
                                <input class="global-confirm-checkbox" type="checkbox" required>
                                <span class="checkbox-text">Я согласен на обработку моих персональных данных в соответствии с <a>Условиями</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock content %}